
<link rel="stylesheet" href="~/css/footer/footer.css" />

<footer class="footer">
    <div class="logo-footer">REPOSITORY</div>
    <div>Desenvolvido por Raiany Cristina para o teste de Desenvolvedor Júnior na Kria.</div>
</footer>