
<link rel="stylesheet" href="~/css/topbar/topbar.css" />

<header class="header">
    <div class="logo">REPOSITORY</div>
    <nav class="menu">
        <ul>
            <li><a href="/home/landing">Home</a></li>
            <li><a href="/repository/meus-repositorios">Meus Repositórios</a></li>
            <li><a href="/home/favoritos">Meus Favoritos</a></li>
            <li><a href="/repository/novo-repositorio">Novo Repositório</a></li>
            <li><a href="/auth/login">Sair</a></li>
        </ul>
    </nav>
</header>