/* Default.css */

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

* {
    font-family: 'DM Sans' !important;
    letter-spacing: 3px;
}

.text-logo {
    font-family: 'Orbitron' !important;
    font-size: 32px;
    font-weight: 700;
    color: rgba(252, 75, 8, 1);
    text-transform: uppercase;
}
